In [11]:
# NLP Talents Team Projects Preprocessing notebook 3

import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# data in

data = pd.read_csv('newdata.csv')
data.tail(10)

,Unnamed: 0,Date,Screen Name,Full Name,Tweet Text,Tweet ID,App,Followers,Follows,Retweets,Favorites,Verfied,User Since,Location,Bio,Profile Image,Airport_Twitter_Tag,Airport_IATA_Codes,Airport_Names
286467,868176,3/20/2021 18:45:05,@jetairways2021,Jet Airways 2021,RT @I_m_michael_asr: @STN_Airport Happy birthd...,1.373262e+18,Twitter for iPhone,2408.0,3545.0,2.0,0.0,No,11/30/2019,"Mumbai, India",Indiaï¿½s ???? best premium airline based at @CS...,View,@stn_airport,"STN, STN","London Stansted Airpor, London Stansted Airpor"
286468,868241,3/22/2021 15:07:55,@Aviation_jamie,J,@STN_Airport Thank you very much ??????,1.373932e+18,Twitter for iPhone,260.0,171.0,0.0,1.0,No,11/4/2020,NaN,Photographer ?????? LHR Ground Handler ?? Aspi...,View,@stn_airport,STN,London Stansted Airpor
286469,868268,3/22/2021 21:54:11,@Antoine71284847,??BeeCharmer ?? Earthling ??,@STN_Airport At last ..,1.374034e+18,Twitter for iPhone,1270.0,896.0,0.0,0.0,No,11/21/2016,"Paris, London , Australasia .","??Antoinette , @VoiceoverAudio :Actor Artist &...",View,@stn_airport,STN,London Stansted Airpor
286470,868290,3/23/2021 16:05:01,@Fede282,Federico Foggia,@STN_Airport Send a DM about your opening time...,1.374309e+18,Twitter for iPhone,76.0,172.0,0.0,0.0,No,2/1/2011,A destra dalla tua sinistra,Entrepeneur Manager proudly graduated in Banki...,View,@stn_airport,STN,London Stansted Airpor
286471,868297,3/23/2021 19:11:27,@TurksonEmmanu13,WHOLE LOTTA PAIN??,@STN_Airport ????,1.374356e+18,Twitter for iPhone,577.0,1871.0,0.0,1.0,No,4/6/2020,"Accra, Ghana",God?? @manutd??@_miyaamarie??@badazzChe92????,View,@stn_airport,STN,London Stansted Airpor
286472,868309,3/23/2021 21:21:43,@AirbusRed,AirbusRed,@STN_Airport Thank you ??,1.374388e+18,Twitter for iPhone,11378.0,1057.0,0.0,0.0,No,10/3/2009,"Manchester, England",?? Airbus A320 Captain. Takes pictures of avia...,View,@stn_airport,STN,London Stansted Airpor
286473,868344,3/24/2021 13:56:49,@lou26chris,louisa hardy,@STN_Airport Good morning stansted airport ????,1.374639e+18,Twitter for iPhone,95.0,958.0,0.0,0.0,No,2/24/2013,NaN,"My loves are family , friends , holidays in th...",View,@stn_airport,STN,London Stansted Airpor
286474,868346,3/24/2021 15:03:10,@lou26chris,louisa hardy,@STN_Airport OMG ...... if only you knew how m...,1.374656e+18,Twitter for iPhone,95.0,958.0,0.0,1.0,No,2/24/2013,NaN,"My loves are family , friends , holidays in th...",View,@stn_airport,STN,London Stansted Airpor
286475,868347,3/24/2021 15:06:29,@lou26chris,louisa hardy,@STN_Airport @KevinS22551757 Spain is in my bl...,1.374656e+18,Twitter for iPhone,95.0,958.0,0.0,1.0,No,2/24/2013,NaN,"My loves are family , friends , holidays in th...",View,@stn_airport,STN,London Stansted Airpor
286476,868350,3/24/2021 15:59:14,@PeterButterfi12,Peter Butterfield,@STN_Airport Thanks @STN_Airport for your quic...,1.374670e+18,Twitter for iPhone,0.0,31.0,0.0,0.0,No,11/21/2020,NaN,NaN,View,@stn_airport,"STN, STN","London Stansted Airpor, London Stansted Airpor"

In [3]:
# 286 477 rows, 19 columns)

data.shape

(286477, 19)

In [4]:
data.columns

Index(['Unnamed: 0', 'Date', 'Screen Name', 'Full Name', 'Tweet Text',
       'Tweet ID', 'App', 'Followers', 'Follows', 'Retweets', 'Favorites',
       'Verfied', 'User Since', 'Location', 'Bio', 'Profile Image',
       'Airport_Twitter_Tag', 'Airport_IATA_Codes', 'Airport_Names'],
      dtype='object')

In [5]:
# dropping columns away

data.drop(['Screen Name', 'Full Name', 'Tweet ID', 'App', 'Verfied', 'User Since', 'Location', 'Bio', 'Profile Image'], axis = 1, inplace = True)
data.head()

,Unnamed: 0,Date,Tweet Text,Followers,Follows,Retweets,Favorites,Airport_Twitter_Tag,Airport_IATA_Codes,Airport_Names
0,15421,4/7/2017 7:52,Update: Flt EI7RE departed back to Dublin at 0...,20959.0,240.0,0.0,0.0,@dublinairport,DUB,Dublin Airport
1,25645,12/3/2018 14:06,"@DublinAirport Ah lads come on, rally the troo...",1433.0,637.0,0.0,0.0,@dublinairport,DUB,Dublin Airport
2,88734,12/24/2020 19:34:34,@DublinAirport https://t.co/8XPuZnW0P9,27616.0,868.0,0.0,0.0,@dublinairport,DUB,Dublin Airport
3,181260,6/12/2020 0:33:26,@brskyrme @VirginAtlantic @HeathrowAirport @br...,51130.0,3181.0,0.0,0.0,@heathrowairport,LHR,Heathrow Airport
4,262833,8/29/2020 0:36:32,@JetSetGOConnor @flykkylie @HeathrowAirport @S...,27451.0,452.0,0.0,2.0,@heathrowairport,LHR,Heathrow Airport

In [6]:
data.duplicated().sum()

0

In [7]:
data.Airport_Twitter_Tag.value_counts()

@heathrowairport    84237
@manairport         68328
@dublinairport      53103
@gatwick_airport    43548
@stn_airport        37261
Name: Airport_Twitter_Tag, dtype: int64

In [8]:
data.describe()

          Unnamed: 0     Followers       Follows       Retweets      Favorites
count  286477.000000  2.864770e+05  2.864770e+05  286477.000000  286477.000000
mean   507289.241503  2.040953e+03  1.149240e+03       1.952443       0.080635
std    146786.334146  4.146320e+04  4.907164e+03      68.906499       0.525875
min     15421.000000  0.000000e+00  0.000000e+00       0.000000       0.000000
25%    389173.000000  4.400000e+01  1.370000e+02       0.000000       0.000000
50%    491824.000000  1.900000e+02  4.010000e+02       0.000000       0.000000
75%    607836.000000  6.810000e+02  1.133000e+03       0.000000       0.000000
max    868350.000000  8.017900e+06  1.011585e+06    9527.000000     106.000000

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286477 entries, 0 to 286476
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           286477 non-null  int64
 1   Date                 286477 non-null  object
 2   Tweet Text           286477 non-null  object
 3   Followers            286477 non-null  float64
 4   Follows              286477 non-null  float64
 5   Retweets             286477 non-null  float64
 6   Favorites            286477 non-null  float64
 7   Airport_Twitter_Tag  286477 non-null  object
 8   Airport_IATA_Codes   286477 non-null  object
 9   Airport_Names        286477 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 21.9+ MB